/* 
  Color Palette

  customOrange: #FF9131
  custommLightOrange: rgba(255, 145, 49, 0.7)
  customLight: #FEFEFE
  customGray: #F6F5EF
  customGreen: #858430
*/

.sold-out::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 140%;
  height: 4px;
  background-color: rgba(15, 0, 0, 0.534);
  transform: rotate(45deg);
  transform-origin: top left;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-customOrange md:px-6 md:py-3;
  }

  .loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: rotateLoader 3s linear infinite;
    display: inline-block;
  }

  .loader::before,
  .loader::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: scaleGlow 1.5s ease-in-out infinite alternate;
  }

  .loader::before {
    border: 5px solid var(--customOrange);
    opacity: 0.6;
    animation-delay: -0.75s;
    box-shadow:
      0 0 20px var(--customOrange),
      0 0 40px var(--customOrange),
      0 0 60px var(--customOrange);
  }

  .loader::after {
    border: 5px solid var(--customGreen);
    opacity: 0.5;
    box-shadow:
      0 0 20px var(--customGreen),
      0 0 40px var(--customGreen),
      0 0 60px var(--customGreen);
  }

  @keyframes rotateLoader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes scaleGlow {
    0% {
      transform: scale(0.6);
      opacity: 0.5;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.6);
      opacity: 0.5;
    }
  }

  .loader::before {
    animation: scaleGlow 2s ease-in-out infinite alternate;
  }

  .loader::after {
    animation: scaleGlow 2s ease-in-out infinite alternate;
    animation-delay: -1s;
  }
}

/* Responsiveness */
@media (min-width: 1800px) {
  html {
    font-size: 130%;
  }

  .pizza {
    height: 40rem !important;
  }
}
